<a href="https://colab.research.google.com/github/juandlopezm/Analisis_datos_lab3/blob/main/Laboratorio_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducción**
La calidad de los datos es fundamental para garantizar resultados confiables en el análisis. Este laboratorio abordará las principales técnicas de aseguramiento y limpieza de datos usando Python. Trabajaremos con un conjunto de datos con errores comunes para identificar problemas y aplicar soluciones prácticas utilizando librerías como Pandas.

**Parte 1: Identificación de Problemas en los Datos**

In [36]:
import pandas as pd
data=pd.read_csv('CSV Laboratorio 3 AD-B.csv')

In [37]:
print(data.head(10)) # numero de filas x columna

   ID     Name    Category         City  Value        Date
0   1  Charlie       Cat C      Chicago   46.0   4/13/2023
1   2     Jane       Cat C      Houston   53.0  12/15/2023
2   3     Jane  category a      Chicago   68.0   9/28/2023
3   4     John         NaN     New York   97.0   4/17/2023
4   5     Jane       Cat C      Houston   71.0   3/13/2023
5   6      Eve  category a  Los Angeles   61.0    7/8/2023
6   7     Jane  Category A      Chicago   48.0   1/21/2023
7   8      Bob  CATEGORY B     New York   65.0   4/13/2023
8   9      Bob  CATEGORY B  Los Angeles    NaN    5/2/2023
9  10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023

In [6]:
print(data['City'].count())

45

In [14]:
print(data['City'].isnull())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31     True
32     True
33     True
34     True
35     True
36    False
37    False
38     True
39    False
40    False
41    False
42    False
43    False
44    False
45     True
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53     True
54    False
55    False
56    False
57     True
58     True
59    False
Name: City, dtype: bool

In [15]:
print(data['City'].isnull().sum()) # tenemos 15 datos nulos

15

In [20]:
print(data['City'].duplicated().sum()) # 55 datos duplicados

55

In [22]:
print(data['City'].value_counts())

City
Chicago        13
Houston        13
New York       12
Los Angeles     7
Name: count, dtype: int64

**Parte 2: Limpieza de Datos con Python**

In [26]:
print(data.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50     True
51     True
52     True
53     True
54     True
55     True
56     True
57     True
58     True
59     True
dtype: bool

In [27]:
data=data.drop_duplicates() # Eliminar duplicados
data=data.dropna() # Eliminar Datos nulos/vacios
print(data.duplicated().sum()) # revisar

0

In [29]:
data['City'] = data['City'].str.upper() # colocar todo los datos en mayuscula

In [31]:
# Estandarizar formato de Category
data['Category'] = data['Category'].str.capitalize()
# Cambiar Car c por Category C
data['Category'] = data['Category'].str.replace('Cat c', 'Category c')

data['Category'] = data['Category'].str.replace('Cat-c', 'Category c')

In [32]:
# Normalizar formato fechas
data['Date'] = pd.to_datetime(data['Date'])

In [33]:
print(data.head(10))

    ID     Name    Category         City  Value       Date
0    1  Charlie  Category c      CHICAGO   46.0 2023-04-13
1    2     Jane  Category c      HOUSTON   53.0 2023-12-15
2    3     Jane  Category a      CHICAGO   68.0 2023-09-28
4    5     Jane  Category c      HOUSTON   71.0 2023-03-13
5    6      Eve  Category a  LOS ANGELES   61.0 2023-07-08
6    7     Jane  Category a      CHICAGO   48.0 2023-01-21
7    8      Bob  Category b     NEW YORK   65.0 2023-04-13
9   10     Dave  Category b  LOS ANGELES   11.0 2023-08-03
11  12     Dave  Category a      HOUSTON   10.0 2023-03-29
12  13      Bob  Category c      CHICAGO   11.0 2023-04-10

**GUARDADO**

In [34]:
# Guardado
ruta_archivo = "/content/datos_limpios.csv"
# Guardar el archivo en la ruta
data.to_csv(ruta_archivo, index=False)

print(f"Archivo CSV guardado en: {ruta_archivo}")

Archivo CSV guardado en: /content/datos_limpios.csv